@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Telex&display=swap');

body {
    background-color: rosybrown;
    color: #ffffff;
    /*make sure you set family and size on body*/
    font-family: 'Telex', sans-serif;
    font-size: 10px;
}

.wrapper {
    width: 3000px;
    margin-left: 180px;
}


/* Typograohy*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Julius Sans One', sans-serif;
    margin: 10px;
}

h1 {
    position: fixed;

}

h2 {
    text-align: center;
    position: inherit;
    font-size: 280px;
    padding top: 350px;
    letter-spacing: 10px;
    background-color: none;



}

h3 {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    padding top: 10px;
    letter-spacing: 1px;
    color: #000000;

}

h4 {
    font-size: 22px
}

p {
    font-size: 10px;
    line-height: 23px;
    margin-bottom: 20px
}

/* anchor styles */
/* these are for links you havent created yet */
a {
    color: grey;
    text-decoration: none;

}

a:hover {

    color: white;
}

a:visited {
    color: #cccccc;
    /* this is to hover and make words grey */
}

a:active {
    color: red;
}

/* main containers*/

.wrapper {
    width: 3000px;
    TOP RIGHT BOTTOM LEFT margin: 0 auto;
}



header {
    height: 2000px;
    background-image: url(../images/churchill-house-4-edited.png);
    background-size: cover;
}

nav {}

nav ul {}

nav ul li {
    display: inline;
    margin-left: 1000px;

}

nav ul li a {
    color: grey;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li a:hover {
    text-decoration: none;
    color: white;
}

.hero {
    min-height: 1000px;
    background-size: cover;

}

main {}

footer {

    background-color: dimgrey;
    padding: 70px;
    background-size: cover;
    min-height: 300px;
    height: 200px;


}

.lefting {
    width: 65%;
    float: right;
    border: 1px solid grey;
    padding 30px;
    background-color: white;
    margin: 0px 0;
}
